{% extends 'base.html.twig'%}
{% block body %}
    {% if title is defined %}
        <h1>{{ title }}</h1>
    {% endif %}

    {% for post in posts %}
        <li>{{post.id}} - {{post.title}} - {{post.created_at|date("d/m/Y H:i:s")}}</li>
    {% endfor %}
{% endblock %}

{% block title %}
    Homepage
{% endblock %}